Project 5-Recommender system/Coffee recommendation system
Project 5-Recommender system/Coffee recommender(YiLi)
Project 5-Recommender system/Movie recommender(YiLi)
Project 5-Recommender system/Movie recommendation system/Deployment/movie_similarity.pkl
